# vim:ft=conf

{{ template "kitty_fonts" . }}
{{ template "kitty_cursor" . }}
{{ template "kitty_scrollback" . }}
{{ template "kitty_mouse" . }}
{{ template "kitty_performance" . }} 
{{ template "kitty_terminal_bell" . }} 
{{ template "kitty_window_layout" . }}
{{ template "kitty_tab_bar" . }}
{{ template "kitty_color" . }}
{{ template "kitty_advanced" . }}
{{ template "kitty_os_specific" . }}
{{ template "kitty_keyboard_shortcuts" . }}
