:root{
/* --a : #f7768e; */
--b : #ff9e64;
/* --c : #e0af68; */
/* --d : #9ece6a; */
--e : #73daca;
--f : #b4f9f8;
--g : #2ac3de;
/* --h : #7dcfff; */
/* --i : #7aa2f7; */
/* --j : #bb9af7; */
/* --k : #c0caf5; */
/* --l : #a9b1d6; */
--m : #9aa5ce;
--n : #cfc9c2;
--o : #565f89;
/* --q : #414868; */
/* --r : #24283b; */
}