[Desktop Entry]
Type=Application
Version=2022.8.1
Name=Bitwarden
Comment=Bitwarden startup script
Exec=bitwarden-desktop
StartupNotify=false
Terminal=false