[Desktop Entry]
Type=Application
Version=2022.8.1
Name=Bitwarden
Comment=Bitwarden startup script
Exec=com.bitwarden.desktop --enable-features=UseOzonePlatform --ozone-platform=wayland
StartupNotify=false
Terminal=false
