[Unit]
Description=discord
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/discord --start-minimized

[Install]
WantedBy=sway-session.target
