    {
{{ template "waybar_top_bar" . }}
{{ template "waybar_modules_workspaces" . }}
{{ template "waybar_modules_window" . }}
{{ template "waybar_modules_keyboard_state" . }}
{{ template "waybar_modules_sway_mode" . }}
{{ template "waybar_modules_mpd" . }}
{{ template "waybar_modules_idle_inhibitor" . }}
{{ template "waybar_modules_tray" . }}
{{ template "waybar_modules_clock" . }}
{{ template "waybar_modules_cpu" . }}
{{ template "waybar_modules_memory" . }}
{{ template "waybar_modules_temperature" . }}
{{ template "waybar_modules_backlight" . }}
{{ template "waybar_modules_battery" . }}
{{ template "waybar_modules_network" . }}
{{ template "waybar_modules_pulseaudio" . }}
{{ template "waybar_modules_custom" . }}
    },
   { 
{{ template "waybar_bottom_bar" . }}
{{ template "waybar_modules_workspaces" . }}
{{ template "waybar_modules_window" . }}
{{ template "waybar_modules_keyboard_state" . }}
{{ template "waybar_modules_sway_mode" . }}
{{ template "waybar_modules_mpd" . }}
{{ template "waybar_modules_idle_inhibitor" . }}
{{ template "waybar_modules_tray" . }}
{{ template "waybar_modules_clock" . }}
{{ template "waybar_modules_cpu" . }}
{{ template "waybar_modules_memory" . }}
{{ template "waybar_modules_temperature" . }}
{{ template "waybar_modules_backlight" . }}
{{ template "waybar_modules_battery" . }}
{{ template "waybar_modules_network" . }}
{{ template "waybar_modules_pulseaudio" . }}
{{ template "waybar_modules_custom" . }}    
}
