* {
    /* `Fira Code` is required to be installed for icons */
    font-family: 'Fira Code', monospace;
    font-size: 15px;
}
window#waybar {
    background-color: transparent;
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: .5s;
}
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #c0caf5;
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #b4f9f8;
    color: #24283b;
}

#workspaces button.focused {
    background-color: #2ac3de;
    color : #24283b;
}

#workspaces button.urgent {
    background-color: #bb9af7;
}
#mode {
    color: #24283b;
    background-color: #2ac3de;
}

#cpu,
#memory,
#clock,
#temperature,
#network,
#tray,
#mode,
#window,
#workspaces,
#taskbar,
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
#clock.dayofweek {
    background-color: #7aa2f7;
    color: #24283b;
}

#clock.date {
    background-color: #7aa2f7;
    color: #24283b;
}


#clock.time {
    background-color: #ff9e64;
    color: #24283b;
}
#cpu {
    background-color: #e0af68;
    color: #24283b;
}

#memory {
    background-color: #bb9af7;
    color: #24283b;
}
#network {
    background-color: #24283b;
    color: #c0caf5;
}

#network.disconnected {
    background-color: #bb9af7;
    color: #24283b;
}

#temperature {
    background-color: #bb9af7;
    color: #24283b;
}

#temperature.critical {
    background-color: #2ac3de;
}

#tray {
    background-color: #2ac3de;
    color: #24283b;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #2ac3de;
}
#custom-spaces3 {
    font-size: 16px;
    color: #2ac3de;
    background: transparent;
}
#custom-spaces2 {
    font-size: 16px;
    color: #24283b;
    background: #7aa2f7;
}
#custom-arrow7 {
    font-size: 16px;
    color: #2ac3de;
    background: #bb9af7;
}
#custom-arrow6 {
    font-size: 16px;
    color: #bb9af7;
    background: #e0af68;
}
#custom-arrow5 {
    font-size: 16px;
    color: #e0af68;
    background: #7aa2f7;
}
#custom-arrow3 {
    font-size: 16px;
    color: #2ac3de;
    background: transparent;
}
#custom-arrow2 {
    font-size: 16px;
    color: #bb9af7;
    background: #ff9e64;
}
#custom-arrow1 {
    font-size: 16px;
    color: #24283b;
    background: #bb9af7;
}
#custom-arrow4 {
    font-size: 16px;
    color: #7aa2f7;
    background: transparent;
}
