[Unit]
Description=autotiling
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/autotiling-rs

[Install]
WantedBy=sway-session.target
