[Unit]
Description=a launcher for the Steam client from Valve Corporation
PartOf=graphical-session.target

[Service]
Type=exec
Exec=/usr/bin/steam -silent

[Install]
WantedBy=sway-session.target
