include /etc/sway/config.d/50-systemd-user.conf

### :Variables
set $mod Mod4
set $left h
set $down j
set $up k
set $right l
set $term {{ .term }}
set $menu wofi
{{ template "sway_output" . }}
{{ template "sway_idle" . }}
{{ template "sway_input" . }}
{{ template "sway_keys" . }}
# :Colors
{{template "sway_startup" . }}
