include /etc/sway/config.d/50-systemd-user.conf

### :Variables
set $mod Mod4
set $left h
set $down j
set $up k
set $right l
set $term {{ .term }}
set $menu wofi
{{ template "sway_output" . }}
{{ template "sway_idle" . }}
{{ template "sway_input" . }}
{{ template "sway_keys" . }}
# :Colors
# Startup
exec "systemctl --user import-environment; systemctl --user start sway-session.target"
exec --no-startup-id autotiling
exec --no-startup-id $term
# exec --no-startup-id steam -silent
# exec --no-startup-id discord --start-minimized
exec --no-startup-id dex -a
exec --no-startup-id dunst
