# vim:ft=i3config

include /etc/sway/config.d/50-systemd-user.conf
exec "systemctl --user import-environment; systemctl --user start sway-session.target"

exec /usr/lib/xdg-desktop-portal-gtk -r
exec /usr/lib/xdg-desktop-portal-wlr -r
exec "sh -c 'sleep 5;exec /usr/libexec/xdg-desktop-portal -r'"

{{ template "sway_output" . }}
{{ template "sway_idle" . }}
{{ template "sway_input" . }}
{{ template "sway_keys" . }}
{{ template "sway_colors" . }}
